<!DOCTYPE html>
<html lang="en">
<% include ../head %>
    <title>index</title>
    <link rel="stylesheet" href="/css/add-product.css">
</head>
<body>
    <% include ../header %>
    <main>
        <% include ../auth/login %>
        <% include ../auth/signup %>
        <div class="mainDiv">
            <div>
                <h1 class="main-title">Tapez votre nouveau mot de passe</h1>
            </div>
                    
            <form action="/post-new-password" method="POST">
                <div class="product_field">
                    <div class="form-group">
                        <label for="password">Nouveau mot de passe: </label>
                        <input type="password" name="password">
                    </div>
        
                </div>
                <div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="userId" value="<%= userId %>">
                    <button class="btn btn-primary centered" type="submit">Valider</button>
                </div>
            </form>
        </div>
    </main>
<% include ../end %>
