<div id="reset-overlay" class=<% if (resetHide) { %>"hide"<% }else{ %>"overlay"<% } %> >
    <div>
        <h1 class="main-title">Entrez votre email</h1>
    </div>
            
    <form action="/postResetPassword" method="POST" novalidate>
        <div class="product_field">
            <div class="form-group">
                <label for="email">Email: </label>
                <input type="email" name="emailrp" value="<%= oldRegistration.email %>">
            </div>
            <!-- <div class="form-group">
                <label for="pwd">Password: </label>
                <input type="password" name="pwd">
            </div> -->

        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div>
            <button class="btn btn-info btn-sl centered" type="submit">Reset Password</button>
        </div>
    </form>
            
</div>
