<!DOCTYPE html>
<html lang="en">
<% include ./head %>
    <title>index</title>
</head>
<body>
    <% include ./header %>
    <main>
        <% include ./auth/login %>
        <% include ./auth/signup %>
        <% include ./auth/resetPassword %>
    
        <div class="mainDiv">
            <% if (errorMessage.length != 0) { %>
                <% errorMessage.forEach(function(error) { %>
                    <div class="messageDanger" role="alert">
                        <p><%= error.msg %></p>
                    </div>
                <% }) %>
            <% } %>
           
        </div>
    </main>
<% include ./end %>
