body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: block;
    text-align: center;
    margin-bottom: 2rem;

}
body, html, main{
    width: 100vw;
}
.hide{
    display: none;
}
.overlay {  
    display: block;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    z-index: 100;
    opacity: 100;
    background: rgba(39, 42, 43, 0.8);
    transition: opacity 1000ms ease-in-out;
    margin: auto;
    color: white;
    border-radius: 20px;
}
.overlay .col-sm-12{
    width: 100%;
}
.container-fluid{
    padding-left: 0px;
}
.navbar{
    background-color: #020636;
    height: 5rem;
    min-width: 100vw;
    border-radius: inherit;
    border: none;
}
.navbar-brand{
    width: 8rem;
    padding: 5px 15px;
}
.mobile_menu{
    display: none
}
img{
    width: 40px;
}
.headerItem{
    height: 5rem;
}
.headerItem:hover,
.active{
    border-bottom: 3px solid white;
}
.navbar-default .navbar-nav > li > a:hover{
    color: white;
    font-weight: bold;

}

.navbar-default .navbar-nav > li>a
{
    color: #dd7d3d;
}
.navbar-default .navbar-nav > li.active >a,
.navbar-default .navbar-nav > li.active >a:hover
{
    color: #dd7d3d;
    font-weight: bold;
   
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
    color: #dd7d3d;
}



span.glyphicon-shopping-cart,
span.glyphicon-credit-card{
    font-size: 2rem;
    color: rgb(207, 26, 26);
}
span.glyphicon-trash,
span.glyphicon-pencil{
    font-size: 2rem;
    color: white;
}

.col-sm-12{
    padding-right: 0px;
}

.navbar-fixed-top .navbar-collapse{
    max-height: 100vh;
    padding-left: 30px;
}

main{
    margin-top: 5rem;
}
.side_left_menu{
    background-color: #ee711e2c;
    /* height: 100vh; */
    margin-top: 20px;
    text-align: center
}
.side_left_menu > p{
font-weight: bold;
margin-top: 10px;
color: #ee711e;
}
.side_left_menu > .recherche{
    display: flex;
    width: 100%;
    align-content: center
}
.side_left_menu input{
    width: 80%;
    margin-bottom: 10px;
}
.side_left_menu a{
    width: 10%;
    color: #ee711e;
    font-weight: bold;
    font-size: 20px;
}
.side_left_menu span{
    background-color: white;
    border: 2px solid white;
    cursor: pointer;
}



.mainDiv .main-title{
    background-color: #f0571bcc;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 1.5;
}



.messageDanger{
    color: #020636;
    background-color: #f36767;
    border: solid red 1px;
    font-weight: bold;
    width: 33%;
    margin: 10px auto;
    padding: 0.8rem 0;
}
.messageDanger p{
    margin: 0;
}

.resetPassword{
    color: #ee711e;
    margin: auto;
    width: 50%;
    cursor: pointer;
}
.resetPassword:hover,
.resetPassword:focus{
    font-weight: bold;
    color: #ee711e;
}

  button{
    border-radius: 5px;
    font: inherit;
    margin: auto;
}
button:hover{
    cursor: pointer;
}

footer{
    background-color: #020636;
    color: #ee711e;
    text-align: center;
    padding: 0 0;
    height: 4rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
 
}

.visible{
    display: inline;
}
.hidden{
    display: none;
}
.centered{
    display: block;
    margin: auto;
}
.inline-centered{
    text-align: center
}
.inline-centered .main-title{
    display: inline;
}
.btn{
    margin-left: 10px;
}
.btn-commande{
    background-color: #ee711e;
    color:  #020636;
    width: 20rem;
    margin-top: 0px;
}
.btn-commande:hover{
    background-color: #ee711e;
    color:  #020636;
    width: 20rem;
    font-weight: bold;
    margin-top: 0px;
}
.btn-primary{

    background-color: #1275ff;
    font-weight: bold;
    font-size: 1.6rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-image: linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);

}
.btn-info{
    background-color: #1275ff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
.right{
    display: flex;
    margin-left: auto;
    margin-right: 1rem;
    align-items: center;
}

@media (max-width: 767px){
    main{
        min-height: 100vh;
    
    }
    .mainDiv{
        z-index:0;
        margin-top: 5rem;
        margin-left: 1.5rem;
    }
    .headerItem{
        display: none;
    }
    .in{
        background-color: #020636;
        z-index: 100;
        position: fixed;
        top: 5rem;
        left:0px;
        width: 70vw;
        height:100%;

    }

    .overlay{
        left: 0px;
        width: 90%;
        margin: 0 20px 0 20px;
    }
    
    .dropdown-menu > li > a{
        background-color: #dd7d3d;
        color: white;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a{
        color: white;
    }
    .side_left_menu{
        display: none;
    }
    h1.main-title{
        font-size: 2rem;
        line-height: 2.2;
    
    }
    .btn{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
}
