.products{
    margin-left: 25px;
    
}
.card_items{
    display: inline-block;
    /* width: 15%; */
    padding: 20px;
    box-shadow: 5px 5px 5px grey;
    border-radius: 30px;
    margin: auto;
    text-align: center;
    width: 250px;
    width: 250px;
    height: 230px;

}
.image_product{
    display: block;
    margin: auto;
    /* width: 100%; */
    max-width: 100px;
    min-width: 100px;
    max-height: 100px;
    /* height: 100px; */
    /* border: 1px solid grey; */
}
.pagination{
    margin-top: 4rem;
}
.pagination a{
    border: 1px solid #ee711e;
    background-color: #ee711e7e;
    padding: 0.5rem 2rem;
    margin: 1rem;
    text-decoration: none;
}
.pagination a:hover,
.pagination a:active,
.pagination a.active{
    background-color: #ee711e;
    font-weight: bold;
    font-size: 2rem;

}