<!DOCTYPE html>
<html lang="en">
<% include ../head %>
    <title>index</title>
</head>
<body>
    <% include ../header %>
    <main>
        <div class="mainDiv">
            <div class="alert alert-danger">
                <h1>Une erreur s'est produite !!!</h1>
                <p>Nous faisons notre possible pour la résoudre dans les meilleurs délais</p>
            </div>
        </div>
    </main>
<% include ../end %>
